@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The database can be managed from the top navigation bar.</p>
    <p>The source code written by Jacques Malan can be found at this <a href="https://github.com/J-ManProjects/DigitalMatterPracticalExercise.git">GitHub link</a>.</p>
</div>
